body {
  display: flex;
  justify-content: center;
  align-items: center;
}

.display_counter {
  margin-top: 50px;
  background-color: rgb(44, 71, 73);
  height: 300px;
  width: 300px;
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
  border-radius: 50%;
  color:aliceblue;
}

.display_counter h1 {
  font-size: 100px;
}

.buttons {
  display: flex;
  justify-content: center;
  align-items: center;
  margin-top: 20px;
}
.btn {
  font-size: 30px;
  padding: 10px 20px;
  margin: 0 10px;
  background-color: gold;
  color: #333;
}

.btn:hover {
  background-color: #dab830;
  cursor: pointer;
}